//bootstrap configuratin start
//Color Palette
//Base Colors
$white: #fff;
$black: #000;
$primary: #0c68b0;
$primary-50: #077a97;
$secondary: #009b6b;
$secondary-50: #38b290;
//Cool Gray
$cool-gray-100: #f8f9fa;
$cool-gray-200: #e9ecef;
$cool-gray-300: #dee2e6;
$cool-gray-400: #ced4da;
$cool-gray-500: #adb5bd;
$cool-gray-600: #6c757d;
$cool-gray-700: #495057;
$cool-gray-800: #343a40;
$cool-gray-900: #212529;
//Warm Gray
$gray-50: #f0f0f0;
$gray-100: #e0e0e0;
$gray-200: #c2c2c2;
$gray-300: #a3a3a3;
$gray-400: #858585;
$gray-500: #666666;
$gray-600: #4d4d4d;
$gray-700: #333333;
$gray-800: #1a1a1a;
$gray-900: #0a0a0a;
//Blue
$blue-50: #e3f2fd;
$blue-100: #bbdefb;
$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;
//Green
$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-200: #bbf7d0;
$green-300: #86efac;
$green-400: #4ade80;
$green-500: #22c55e;
$green-600: #16a34a;
$green-700: #15803d;
$green-800: #166534;
$green-900: #14532d;
//Yellow
$yellow-50: #fefce8;
$yellow-100: #fef9c3;
$yellow-200: #fef08a;
$yellow-300: #fde047;
$yellow-400: #facc15;
$yellow-500: #eab308;
$yellow-600: #ca8a04;
$yellow-700: #a16207;
$yellow-800: #854d0e;
$yellow-900: #713f12;
//Red
$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;
//Bootstrap Color Variables
$danger: $red-600;
$success: $green-600;
$warning: $yellow-600;
$theme-colors: ( "primary": $primary, "secondary": $secondary, "red": $red-600, "yellow": $yellow-600, "green": $green-600, "danger": $red-600, "warning": $yellow-600, "success": $green-600, "blue": $blue-600, "white": $white, "cGray100": $cool-gray-100, "cGray600": $cool-gray-600, "blue400": $blue-400, "blue700": $blue-700, "blue900": $blue-900, );
// Ratios for typography
$double-octave: 4;
$pi: 3.14159265359;
$major-twelfth: 3;
$major-eleventh: 2.666666667;
$major-tenth: 2.5;
$octave: 2;
$major-seventh: 1.875;
$minor-seventh: 1.777777778;
$major-sixth: 1.666666667;
$phi: 1.618034;
$golden: $phi;
$minor-sixth: 1.6;
$fifth: 1.5;
$augmented-fourth: 1.41421;
$fourth: 1.333333333;
$major-third: 1.25;
$minor-third: 1.2;
$major-second: 1.125;
$minor-second: 1.066666667;
:root {
    --appbar-width: 3.5rem;
    --sidebar-width: 240px;
    --role-sidebar: 18.75rem;
    --mastermenu-width: 16rem;
    --sidebar-open-width: 14.875rem;
    --shorcut-width: 3rem;
    --header-height: 48px;
    --help-container-width: 23rem;
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
    --article-line-height: 1.58;
    --modal-overlay-size: 360px;
    --overlay-width: 440px;
    --app-max-width: 85.375rem;
}

//breakpoints
$grid-breakpoints: ( xxs: 0, xs: 450px, sm: 485px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, xxxl: 1600px, );
//spacers
$enable-negative-margins: true;
$spacers: ( 0: 0, 2: 0.125rem, 4: 0.5rem, 8: 0.5rem, 12: 0.75rem, 16: 1rem, 24: 1.5rem, 32: 2rem, 40: 2.5rem, 48: 3rem, 56: 3.5rem, 64: 4rem, 72: 4.5rem, 80: 5rem, 88: 5.5rem, );
//Color Palette
//Base Colors
// $white: #fff;
// $black: #232323;
// $primary: blue;
// $secondary: gray;
// $success: green;
// $info: #008cca;
// $warning: yellow;
// $danger: red;
// $red: red;
$light: gray;
// $dark: gray;
// $border-color-gray: gray;
//responsive font size setting
$enable-responsive-font-sizes: true;
$rfs-factor: $minor-third;
$rfs-unit: rem;
//bootstrap grid configuration
$grid-gutter-width: 16px !default;
//
$body-bg: $white;
//$line-height-base: 1.4;
//end of bootstrap configuration
// base font family
$font-family-base: "Inter",
sans-serif;
//form elements
$input-bg: $white;
$input-color: $cool-gray-900;
$input-font-size: 0.875rem;
$input-border-color: $cool-gray-500;
$input-disabled-bg: $cool-gray-300;
$input-border-width: 1px;
$input-border-radius: 4px;
$input-line-height: 1.5;
//Label Variables
$form-label-margin-bottom: 0.25rem;
$form-label-font-size: 0.875rem;
$form-label-font-weight: 400;
$form-label-color: $cool-gray-900;
//Regular Input Variables
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
//Small Input Variables
$input-padding-y-sm: 0.25rem;
$input-padding-x-sm: 0.5rem;
$input-font-size-sm: 0.75rem;
//Button-shadow-on-focus
$btn-focus-shadow-yellow: 0px 0px 0px 2px #facc1566;
$btn-focus-shadow-blue: 0px 0px 0px 2px #1565c066;
$btn-focus-shadow-red: 0px 0px 0px 2px #c9184a66;
$btn-focus-shadow-green: 0px 0px 0px 2px #15803d66;
$btn-focus-shadow-gray: 0px 0px 0px 2px rgba(73, 80, 87, 0.4);
// button-shadow-on-clicked
$btn-focus-clicked-blue: 0px 2px 8px 0px #00000052 inset;
$btn-focus-clicked-green: 0px 2px 8px 0px #00000052 inset;
$btn-focus-clicked-yellow: 0px 2px 8px 0px #a162077a inset;
$btn-focus-clicked-red: 0px 2px 8px 0px #7f1d1d7a inset;
$btn-focus-clicked-gray: inset 0px 2px 8px rgba(0, 0, 0, 0.32);
// Button
$btn-padding-y-xs: 0.25rem;
$btn-padding-x-xs: 0.5rem;
$btn-font-size-xs: 0.7rem;
$btn-line-height-xs: 1.4;
$btn-border-radius-xs: 0.125rem;
$btn-border-radius: $input-border-radius;
$btn-line-height: $input-line-height;
$btn-font-size: $input-font-size;
$btn-padding-y: $input-padding-y;
$btn-padding-x: $input-padding-x;
//btn small
$btn-padding-y-sm: 0.25rem;
$btn-padding-x-sm: 0.5rem;
$btn-font-size-sm: 0.75rem;
$input-btn-padding-x-lg: 1.725rem;
$input-btn-padding-y-lg: 1.5rem;
//$input-box-shadow
$input-placeholder-color: $light;
$form-group-margin-bottom: 1rem;
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075);
$input-focus-box-shadow: none;
//Select field
// $custom-select-height: $input-height;
$custom-select-padding-y: 0.25rem;
//form-row gap
$form-grid-gutter-width: 16px;
//alert
$alert-title-line-height: 1.3125rem;
$alert-title-font-weight: 600;
$alert-title: 0.875rem;
$alert-padding-y: 1rem;
$alert-padding-x: 1rem;
$alert-margin-bottom: 0rem;
$alert-border-radius: 4px;
$alert-link-font-weight: 400;
$alert-border-width: 1px;
$alert-dismissible-padding-r: 1rem;
//spacing
// stylelint-disable-next-line scss/dollar-variable-default
//breadcrumb
$breadcrumb-padding-y: 0rem;
$breadcrumb-padding-x: 0.5rem;
// $breadcrumb-divider: ">";
// $breadcrumb-item-color: $primary;
$breadcrumb-active-color: $light;
$breadcrumb-divider-color: $light;
$breadcrumb-border-radius: 2px;
$breadcrumb-margin-bottom: 0;
//Pagination
$pagination-border-color: $primary;
$pagination-color: $light;
$pagination-hover-bg: $light;
$pagination-hover-color: white;
$pagination-disabled-color: $secondary;
$time-func-1: cubic-bezier(0.4, 0, 0.2, 1);
//Table
$table-border-color: $primary;
$table-cell-padding: 0.5rem;
//Nav tabs
$nav-tabs-border-width: 0px;
//Modal
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: 0.3;
$modal-content-border-color: none;
$modal-content-border-radius: 0;
$modal-header-border-color: none;
$modal-lg: 650px;
$modal-md: 562px;
//Dropdown
$dropdown-border-color: none;
// $dropdown-link-color: $gray-60;
$dropdown-link-hover-bg: $light;
// $dropdown-link-active-color: $gray-700;
// $dropdown-link-active-bg: $blue-100;
$dropdown-item-padding-y: 0.5rem;
$dropdown-padding-y: 0;
// $dropdown-divider-bg: $gray-100;
$dropdown-min-width: 15rem;
// $colortypes: (
//   "primary": $blue,
//   "success": $green,
//   "warning": $orange,
//   "danger": $red,
//   "teal": $blue-700,
// );
//Tooltip
$tooltip-font-size: 12px;
$tooltip-color: white;
$tooltip-bg: $primary;
$tooltip-arrow-color: white;
$tooltip-border-radius: 0.25rem;
$tooltip-max-width: 205px;
$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 0.5rem;
//Switch
// $form-switch-checked-color: $green;
$form-switch-color: $cool-gray-600;
$form-switch-focus-color: $cool-gray-600;
//Badge
$badge-font-size: 0.875em;
$badge-font-weight: 600;
$badge-padding-y: 0.25em;
$badge-padding-x: 0.75em;
// font weight
$font-weight: ( light: 300, regular: 400, medium: 500, semibold: 600, bold: 700, bolder: 800, dark: 900, );
// font size
$font-size: ( h1: 3rem, h2: 2rem, h3: 1.5rem, h4: 1.25rem, h5: 1.125rem, h6: 1rem, p: 0.875rem, small: 0.75rem, );
//sides
$sides: (right, left, top, bottom);
$alert-theme: ("blue", "red", "green", "yellow");
$btn-theme: ("blue", "red", "green", "yellow", "gray");
$border-color: $cool-gray-200;
//offcanvas
$offcanvas-horizontal-width: 686px;
//defaults
$default-radius: 4px;
$border-color: $cool-gray-300;