.card {
  &__shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08);
  }

  &-component {
    @extend .card__shadow;
    .card {
      &-body {
        @extend .bg-cGray100;
        @extend .p-24;
        @include flex(null, center);
      }
    }
  }

  &-dashboard {
    padding: 1rem;
    border-radius: 0.25rem;
    @include flex(center, space-between);
    gap: 1rem;
    background-color: $white;

    .icon {
      background-color: $blue-50;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      @include flex(center, center);
      i {
        color: $blue-600;
        font-size: 1.25rem;
      }
      &.green {
        background-color: $green-100;
        i {
          color: $green-600;
        }
      }
      &.red {
        background-color: $red-100;
        i {
          color: $red-600;
        }
      }
      &.yellow {
        background-color: $yellow-100;
        i {
          color: $yellow-600;
        }
      }
    }
    a {
      &:hover {
        color: $secondary-50;
      }
    }
  }
  &-request {
    .card {
      &-header {
        padding: 0.75rem;
        background-color: $primary-50;
        border-radius: $default-radius $default-radius 0 0;
        h6 {
          color: $white;
        }
      }
      &-body {
        background-color: $white;
        .col-md-6 {
          &:first-child() {
            border-bottom: 1px solid $border-color;
            border-right: 1px solid $border-color;
          }
          &:nth-child(3) {
            border-right: 1px solid $border-color;
          }
          &:nth-child(2) {
            border-bottom: 1px solid $border-color;
          }
        }
      }
    }
  }
}
